@use "../utils/" as *;

// -----------------------------------
// SECTIONS
// -----------------------------------

.section {
  padding: 0 $padding;

  &__container {
    margin: 0 auto;
    padding-top: 2.4rem;
    padding-bottom: $space-after;
  }

  &--grey {
    background-color: $sec-clr-alabaster;
  }

  // SECTIONS ---- TABLET
  @include respond-tablet {
    &__container {
      padding-top: 3.2rem;
      padding-bottom: $space-after-lg;
      max-width: $max-wd-tb;
    }
  }

  // SECTIONS ---- DESKTOP

  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }
  }
}
