
// -----------------------------------
// COLORS
// -----------------------------------

$pri-clr-black: #323232;
$pri-clr-silver: #afafaf;
$pri-clr-white: #ffffff;

$sec-clr-dark: #000000;
$sec-clr-mercury: #e1e1e1;
$sec-clr-alabaster: #fafafa;

$desktop: 1280px;
$tablet: 768px;
$mobile: 32em;

// -----------------------------------
// TYPO
// -----------------------------------

// FONT WEIGHTS
$regular: 400;
$demi: 600;
$bold: 700;

// TEXT SIZE - DESKTOP & TABLET
$ts-page-header-lg: 6rem;
$ts-section-header-lg: 3.6rem;
$ts-subheader-lg: 2.4rem;
$ts-body-copy-lg: 1.4rem;
$ts-footer-copy-lg: 1.4rem;
$ts-label-lg: 1.2rem;
$ts-btn-lg: 1.2rem;

// TEXT SIZE - MOBILE
$ts-page-header: 2.4rem;
$ts-section-header: 2.4rem;
$ts-subheader: 1.4rem;
$ts-body-copy: 1.3rem;
$ts-footer-copy: 1.3rem;
$ts-label: 1rem;
$ts-btn: 1rem;

// LINE HEIGHTS
$lh-page-lg: 6.8rem;
$lh-section-lg: 4.4rem;
$lh-sub-lg: 3.2rem;
$lh-body-lg: 2.2rem;
$lh-footer-lg: 2rem;
$lh-label-lg: 2rem;

// LINE HEIGHTS - MOBILE
$lh-page: 3.2rem;
$lh-section: 3.2rem;
$lh-sub: 2.2rem;
$lh-body: 1.8rem;
$lh-footer: 1.8rem;
$lh-label: 2rem;

// -----------------------------------
// SPACING
// -----------------------------------

$padding: 1.6rem;
$margin: 1.6rem;

// DESKTOP & TABLET
$space-before-lg: 4.8rem;
$space-after-lg: 3.6rem;
$space-between-lg: 3.6rem;

// MOBILE
$space-before: 2.4rem;
$space-after: 1.6rem;
$space-between: 1.6rem;

// -----------------------------------
// MAX CONTENT WIDTH
// -----------------------------------
$max-wd-tb: 69.6rem;