@use "../utils/" as *;



.section__header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-top: 2.4rem;

  &--shows {
    margin-top: 2.4rem;
    padding: 0 $padding;
  }

  @include respond-tablet {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: bold;


    &--shows {
      margin-top: 3.2rem;
    }
  }
}

.sub__header {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;

  @include respond-tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

.body__text {
  font-size: 1.3rem;
  line-height: 1.8rem;

  &--bold {
    font-weight: 600;
  }

  &--color-grey {
    color: $sec-clr-mercury;
  }

  @include respond-tablet {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.footer__text {
  font-size: 1.3rem;
  line-height: 1.8rem;

  @include respond-tablet {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.label__text {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;

  @include respond-tablet {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
