@use "../utils/" as *;

// -----------------------------------
// HERO
// -----------------------------------

.hero {
  height: 70vh;
  background-image: url("../assests/images/hero-bio.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: right bottom -70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8.8rem;

  &__text {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    color: white;
  
    @include respond-tablet {
      font-size: 6rem;
      line-height: 6rem;

    }
  }

  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $padding;
  }

  @include respond-tablet {
    background-position: right bottom;
    height: 100vh;
    padding-top: 4.9rem;

    &__container {
      padding: 0 3.2rem;
    }
  }

  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }
  }
}
