*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
  /* Additional styles if desired */
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/alternative_files/AvenirNextLTPro.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/alternative_files/AvenirNextLTProDemi.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assests/font/alternative_files/AvenirNextLTProBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  //1 rem === 10px
  font-size: 62.5%;
}

body {
  font-family: "Avenir Next LT Pro", Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

/// MIXINGS
///
@mixin respond-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin respond-deskop {
  @media (min-width: $desktop) {
    @content;
  }
}

// -----------------------------------
// COLORS
// -----------------------------------

$pri-clr-black: #323232;
$pri-clr-silver: #afafaf;
$pri-clr-white: #ffffff;

$sec-clr-dark: #000000;
$sec-clr-mercury: #e1e1e1;
$sec-clr-alabaster: #fafafa;

$desktop: 1280px;
$tablet: 768px;
$mobile: 32em;

// -----------------------------------
// TYPO
// -----------------------------------

// FONT WEIGHTS
$regular: 400;
$demi: 600;
$bold: 700;

// TEXT SIZE - DESKTOP & TABLET
$ts-page-header-lg: 6rem;
$ts-section-header-lg: 3.6rem;
$ts-subheader-lg: 2.4rem;
$ts-body-copy-lg: 1.4rem;
$ts-footer-copy-lg: 1.4rem;
$ts-label-lg: 1.2rem;
$ts-btn-lg: 1.2rem;

// TEXT SIZE - MOBILE
$ts-page-header: 2.4rem;
$ts-section-header: 2.4rem;
$ts-subheader: 1.4rem;
$ts-body-copy: 1.3rem;
$ts-footer-copy: 1.3rem;
$ts-label: 1rem;
$ts-btn: 1rem;

// LINE HEIGHTS
$lh-page-lg: 6.8rem;
$lh-section-lg: 4.4rem;
$lh-sub-lg: 3.2rem;
$lh-body-lg: 2.2rem;
$lh-footer-lg: 2rem;
$lh-label-lg: 2rem;

// LINE HEIGHTS - MOBILE
$lh-page: 3.2rem;
$lh-section: 3.2rem;
$lh-sub: 2.2rem;
$lh-body: 1.8rem;
$lh-footer: 1.8rem;
$lh-label: 2rem;

// -----------------------------------
// SPACING
// -----------------------------------

$padding: 1.6rem;
$margin: 1.6rem;

// DESKTOP & TABLET
$space-before-lg: 4.8rem;
$space-after-lg: 3.6rem;
$space-between-lg: 3.6rem;

// MOBILE
$space-before: 2.4rem;
$space-after: 1.6rem;
$space-between: 1.6rem;

// -----------------------------------
// MAX CONTENT WIDTH
// -----------------------------------
$max-wd-tb: 69.6rem;

// -----------------------------------
// NAV
// -----------------------------------

// NAV ---- MOBILE
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: $pri-clr-black;
  position: fixed;

  &__logo-link {
    color: $pri-clr-white;
    font-size: 2rem;
    padding: 0.8rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__tabs {
    display: flex;
    width: 100%;

    &-link {
      color: $pri-clr-white;
      font-size: $ts-label;
      font-weight: bold;
      padding: $padding;
      width: 100%;
      text-align: center;

      &--active {
        border-bottom: solid 2px $pri-clr-white;
      }
    }
  }

  // NAV ---- TABLET

  @include respond-tablet {
    &__container {
      flex-direction: row;
      gap: $space-between;
      max-width: $max-wd-tb;
    }

    &__logo-link {
      line-height: 0;
      padding: 0.8rem;
    }

    &__tabs {
      width: max-content;

      &-link {
        font-size: $ts-label-lg;
      }
    }
  }

  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }
  }

  // NAV ---- DESKTOP
}

// -----------------------------------
// MAIN
// -----------------------------------

// -----------------------------------
// HERO
// -----------------------------------

.hero {
  height: 70vh;
  background-image: url("../assests/images/hero-bio.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: right bottom -70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8.8rem;

  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $padding;
  }

  &__header {
    font-size: $ts-page-header;
    font-weight: 700;
    line-height: $lh-section;
    color: $pri-clr-white;
  }

  @include respond-tablet {
    background-position: right bottom;
    height: 100vh;
    padding-top: 4.9rem;

    &__container {
      max-width: $max-wd-tb;
    }

    &__header {
      font-size: $ts-page-header-lg;
      line-height: $lh-section-lg;
    }
  }
  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }
  }
}

// -----------------------------------
// SECTIONS
// -----------------------------------

.section {
  padding: 0 $padding;

  &__container {
    margin: 0 auto;
    padding-top: 2.4rem;
    padding-bottom: $space-after;

    &-header {
      font-size: $ts-section-header;
    }
  }

  &--grey {
    background-color: $sec-clr-alabaster;
  }

  // SECTIONS ---- TABLET
  @include respond-tablet {
    &__container {
      padding-top: 3.2rem;
      padding-bottom: $space-after-lg;
      max-width: $max-wd-tb;

      &-header {
        font-size: $ts-section-header-lg;
      }
    }
  }

  // SECTIONS ---- DESKTOP

  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }
  }
}

// -----------------------------------
// SECTION - ABOUT
// -----------------------------------
.about {
  margin: 0 auto;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__image {
    height: 40vh;
    width: 100%;
    margin: $margin 0;
    object-fit: cover;
    object-position: center bottom;
  }

  &__quote {
    font-size: $ts-subheader;
    line-height: 2.2rem;
    font-weight: $demi;
    &:last-of-type {
      margin-top: $margin;
    }
  }

  &__subtitle {
    font-size: $ts-subheader;
    font-weight: 600;
    line-height: $lh-sub;
    margin-top: 2.4rem;
  }

  &__body {
    font-size: $ts-body-copy;
    line-height: $lh-body;
    margin-top: $margin;
  }

  /// SECTION - ABOUT - TABLET

  @include respond-tablet {
    padding: 0 calc($padding * 3);

    &__subtitle {
      font-size: $ts-subheader-lg;
      font-weight: 600;
      line-height: $lh-sub-lg;
      margin-top: calc($margin * 3);
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $space-between;
    }

    &__image {
      object-position: center;
      margin: 2.4rem 0;
    }

    &__quote {
      font-size: $ts-subheader-lg;
      line-height: $lh-body-lg;

      &:last-of-type {
        margin-top: $margin;
      }
    }

    &__body {
      font-size: $ts-body-copy-lg;
      line-height: $lh-body-lg;
      margin-top: 2.6rem;
    }
  }

  /// SECTION - ABOUT - DESKTOP

  @include respond-deskop {
    max-width: $desktop;
  }
}

// -----------------------------------
// SECTION - PHOTOS GRID
// -----------------------------------
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: $space-between;
  margin: auto;
  margin-top: $space-between;

  &__item {
    width: 100%;

    &-photo {
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  @include respond-tablet {
    grid-template-columns: repeat(3, 1fr);
    column-gap: $space-between;
  }
 
}

// -----------------------------------
// FOOTER
// -----------------------------------

.footer {
  background-color: $sec-clr-dark;
  padding: 2.4rem $padding;

  &__header {
    font-size: $ts-section-header;
    font-weight: $bold;
    line-height: $lh-section;
    color: $pri-clr-white;
  }

  &__social-row {
    display: flex;
    gap: 2.4rem;
    margin-top: $margin;
  }

  &__logo-link {
    color: $pri-clr-white;
    font-size: 2rem;

    &--desktop {
      display: none;
    }
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    margin-top: $margin;
  }

  &__grid-text {
    font-size: $ts-subheader;

    line-height: $lh-sub;
    color: $pri-clr-white;

    &--bold {
      font-weight: bold;
    }
  }

  &__grid-link {
    font-size: $ts-subheader;
    line-height: $lh-sub;
    color: $pri-clr-white;
  }

  &__copyright {
    margin-top: 4rem;
    max-width: $max-wd-tb;
    margin: 0 auto;

    &-text {
      font-size: $ts-footer-copy;
      line-height: 1.8rem;
      color: $pri-clr-white;
      margin-top: $margin;
    }
  }

  @include respond-tablet {
    &__container {
      max-width: $max-wd-tb;
      margin: 0 auto;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $space-between;
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
    }

    &__social-row {
      margin-top: 0;
    }

    &__logo-link--mobile {
      display: none;
    }

    &__logo-link--desktop {
      display: initial;
    }

    &__header {
      font-size: $ts-section-header-lg;
      font-weight: $bold;
      line-height: $lh-section-lg;
      color: $pri-clr-white;
    }
  }

  @include respond-deskop {
    &__container {
      max-width: $desktop;
    }

    &__row-item {
      gap: 8rem;
    }

    &__copyright {
      max-width: $desktop;
    }
  }
}
